<!DOCTYPE HTML>

<html>
	<head>
		<title>Page? Maybe?</title>
    <style>
      body {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      p, form {
        font-size: 20px;
        margin-top: 20px;
      }
      img {
        width: 300px;
        margin: 10px;
      }
      p span {
        color: blue;
      }
    </style>
	</head>
	<body>
		<p>Wait this isn't a page! 404 Error!</p>
		<br />
		<img src="https://http.cat/%7B%7Bcode%7D%7D">
		<br />
		<form action="/user" method='GET'>
			<label for="uname" >User Name:</label>
      <input type='text' id="uname" name='uname'><br></br>
			<button type="button" name ="Return">
        <a href = '/user'>user</a>
       </button>
		</form>
	</body>
</html>